* {
  box-sizing: border-box;
}

.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: auto;
  border: 2px solid rgb(201, 201, 201);
  padding: 1.5rem;
  border-radius: 5%;
  background-color: rgb(225, 236, 248);
  gap: 10px;
}

h1, h2 {
  font-family: 'Dancing Script', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.profile__photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(201, 201, 201);
}
